*{
    margin: 0px;
font-family: 'inter';
}

#logo{
    margin-left: 50px;
    margin-top: 50px;
}

#titulo-menusuperior{
    margin-left: 150px;
    margin-top: 77px;
}

#texto-menusuperior{
margin-left: 150px;
    margin-top: 25px;
      padding-bottom: 100px;

}

#menusuperior{
background-image: url(imagens/fundo-menusuperior.svg);
color: aliceblue;
}

#menuinformacional{
    background-color: #eaece5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;   
}

.icone{
    padding: 25px;
    margin: 50px 0px 50px 100px;

}

.textoinformativo{
    display: flex;
    align-items: center;
   }

   #secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
   }

 
   #textovideo{
    color: #247BA0;
    margin: 50px 0px 25px 100px
   }

   #video{
    margin: 50px 0px 50px 100px;
   }
   #carrossel{
    background-color: #247BA0 ;
    padding: 50px;       
}
#titulocarrossel{
    color: white;
    text-align: center;
    font-size: 25;

}
#divcards{
    background-color: #247BA0;
    margin-top: 0px;
    display: grid;   
    grid-auto-flow: column;
    }
    
    .cards{
        margin-left: 50px;
        margin-bottom: 50px;
    }

    #setaesquerda{
        display: none;
    }

    #bruna{
        display: none;
    }
    .seta{
        margin-top: 55%;
        cursor: pointer;
            }

    .seta:hover{
        transform: translateY(-7px);
        transition: 1,5s;
    }
    
    #formulario{
        text-align: center;
        background-color: white;
           
    }

    #tituloformulario{
      font-size: 25px;
      color: #247BA0;
      background-color: white;
      margin: 25px;
    }

    input{
        width: 300px;
        height: 30px;
        background-color: silver;
        margin: 15px;
        border: 0px;
        border-radius: 5px;
        padding-left: 10px;
        
    }

    button{
        border-radius: 10px;
        background-color: #247BA0;
        margin: 15px;
        border: 0px;
        width: 250px;
        height: 30px;
        color: #eaece5;
        font-weight: bolder;
        cursor: pointer;
    }

    button:hover{
        color: white;
        background-color: #247BA0;
        transform: translateY(-7px);
        box-shadow: 8px 15 px 20px #247BA0;
        transition-duration: 0,3s;
    }
  
